.para-pais {
  padding: 88px 0;
  background-color: var(--how-it-works-bg-color);

  &__header {
    max-width: 78ch;
    margin: 0 auto 56px;
    text-align: center;

    h2 {
      font-size: clamp(2.4rem, 4vw, 3.2rem);
      font-weight: 600;
      color: var(--text-color);
      margin-bottom: 24px;
      line-height: 1.2;
      text-align: center;
    }

    p {
      font-size: var(--font-size-text-body);
      line-height: 1.6;
      color: var(--text-color);
      opacity: 0.9;
      margin: 0 auto;
      max-width: 70ch;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    max-width: 1100px;
    margin: 0 auto;

    p {
      font-size: 1.8rem;
      line-height: 1.7;
      color: var(--text-color);
      margin: 0;
    }
  }
}
