* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family-primary);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

button,
.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;
  text-align: center;
}

body {
  font-size: var(--font-size-text-body);
  color: var(--text-color);
}
