// Paleta de Cores
:root {
  --button-color: #195059;
  --text-color: #005c65;
  --hero-bg-color: #dcfae6;
  --card-bg-color: #f0fbf8;
  --how-it-works-bg-color: #fdffdd;
  --white: #ffffff;
  --secondary: #6941c6;
  --background-default: #0d0d0e;

  // Fontes
  --font-family-primary: "Source Serif 4", serif;
  --font-size-text-body: 1.8rem; // Equivalente a 18px
  --font-size-text-sm: 1.6rem; // Equivalente a 16px

  // Espaçamento
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}
